body{
  background: yellow;
  font-family:sans-serif;
}

.app{
  background: #ddd;
  width:70%;
  margin:0 auto;
  margin-top:10%;
  padding: 10px;
  border-radius: 5px;
}

.pagefx-transition{
  transition: all .5s ease;
}

.pagefx-enter,.pagefx-leave{
  opacity: 0;
  transform: translate3d(10px,0,0);
}

.contact{
  background: red;
}
.v-link-active{
  color: red;
}
